[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "assets/dev-images"]
	path = assets/dev-images
	url = https://github.com/lamngockhuong/dev-images.git
